*{
	margin: 0;
}
.container{
	display: flex;
	padding: 100px 160px;
	gap: 50px;
	background-color: bisque;
	margin: 100px;
}
 .title{
  text-align: right;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 2rem;
  color: green;
  font-weight: bold;
}
.desc{
	text-align: right;
	font-size: 1rem;
	color: aqua;
	margin-top: 20px;
	margin-bottom: 20px;

}
.btn{
	margin-left: 300px;
     background-color: orange;
	 color: white;
	 padding: 20px;
	 border-radius: 10px;
	 border: none;
	 height: 60px;
	 width: 200px;
	 
}
.part-agin{
	display: flex;
	padding: 100px 160px;
	gap: 50px;
	background-image: url('image/header_bg.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	background-color: bisque;
	margin: 100px;
}
.black-future{
	background-color: black;
    display: flex;
	padding: 100px 160px;
	margin: 100px;
	gap: 50px;

}
.main{

}
.main-title{
color: white;
font-weight: bold;
font-size: 3rem;
margin-bottom: 20px;

}
.main-desc{
color: white;
font-weight: bold;
margin-bottom: 20px;

}
.sub-desc{
color: white;
margin-top: 20px;
}
.sub-desc-agin{
	color: white;
	margin-top: 20px;	
}
input{
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid white;
	width: 300px;
	background-color: black;
}
.main-input{

}
.sub-title{
color: white;
font-weight: bold;
font-size: 3rem;
margin-bottom: 20px;
}
#subscribe{
	padding: 20px;
	border-radius: 20px;
	height: 50px;
	width: 100px;
	border: none;
	background-color: orangered;
}